html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Delicious Handrawn', serif;
}

.Przejsciowy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* zamiast: justify-content: flex; */
  padding-bottom: 20vh; 
  flex-direction: column;
}



.Obrazek {
  
  

  position: absolute;
  width: 15%;
  height: auto;
  top: 100%;
  bottom: 20%;
  left: 43%;
  height:auto;
  
 border-radius: 3%;

 top:20%;
 border-radius: 3%;
}

.NastPnymRazemSiUda {
  font-size: 6vw; /* większy tekst */
  margin-bottom: 28vh; 
  position: relative;
  font: 'Delicious Handrawn'
}

@media (max-width: 600px) {
  .Obrazek {
    width: 100%;
    height: auto;
    left: 0;
    top: auto;
    bottom: 40vh;
    scale: 0.7;
    position: absolute;
  }
  
  .NastPnymRazemSiUda {
    font-size: 10vw;
    top: 40%;

  }
}

@media (min-width: 601px) {
.Ellipse1 {

  }

  .Obrazek {
    
    scale: 2;
    bottom: 60%;
   
  }
  .NastPnymRazemSiUda {

   top: 40%;
   font-size: 4vw;;
  }
  
 
}