from flask import Flask, render_template, request, redirect, url_for, session, jsonify, flash
import os
from datetime import datetime

from models import db, GameStep, Player, QuizQuestion, Timeline, TimelineEvent

from admin import admin_bp
import os
from dotenv import load_dotenv
from flask import Blueprint, render_template, request, redirect, url_for, session, flash, jsonify
from werkzeug.security import check_password_hash
from models import db, GameStep, QuizQuestion, Timeline, TimelineEvent, Player
from flask_sqlalchemy import SQLAlchemy
from datetime import datetime