.puzzle-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2 px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .puzzle-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .puzzle-img.selected {
    outline: 3px solid rgb(17, 0, 255);
    outline-offset: -3px;
  }
  