       
       
       
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body, html {
            height: 100%;
            font-family: 'Segoe UI', sans-serif;
            overflow: hidden; 
          
            margin: 0;
            padding: 0;
            font-family: 'Delicious Handrawn', serif;
            background: #d3c5aa url('static/obrazki/kartkapapieru.jpg') no-repeat center center fixed;
            background-size: cover;

        }




.Ellipse1 {
  width: 220%;
  height: 220%;
  left: -60%;
  top: 32%;
  position: absolute;
  opacity: 0.7;
  background: rgba(53, 252, 39, 0.36);
  border-radius: 99999999px;
  opacity:0.5;
  scale:0.5;
  top:1%;
}

  .progress-bar-section { 
    width: 80%; 
    height: 25px; 
    background: #2A1D16; 
    border-radius: 20px; 
    border: 2px solid #1E1410; 
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden; 
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
  
  }

  .progress-bar-fill { 
    width: 20%; 
    height: 100%; 
    background: #795548; 
    border-radius: 18px; 
    transition: width 0.3s ease-in-out;
  }

#zegar {
    position: absolute;
    transform-origin: top right;
    scale: 0.5;
}

   @media (max-width: 600px) {


  .progress-bar-section {
    width: 90%;
    height: 20px;
    top: 10px;
  }

 


}

 @media (min-width: 601px)
 {


 }
