    @keyframes pulse {
        0% {
            transform: scale(1);
            opacity: 0.6;
        }
        50% {
            transform: scale(1.2);
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 0.6;
        }
    }

    @keyframes rotate {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-15px);
        }
    }


html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Delicious Handrawn', serif;
}

.Przejsciowy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #d3c5aa url('obrazki/kartkapapieru.png') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* zamiast: justify-content: flex; */
  padding-bottom: 20vh; 
  flex-direction: column;
}

    .Ellipse1 {
        width: 220%;
        height: 220%;
        left: -60%;
        top: 32%;
        position: absolute;
        border-radius: 9999px;
        z-index: 1;
        animation: pulse 2.5s infinite ease-in-out, rotate 10s linear infinite;
    }

.Obrazek {
  width: 60%;
  max-width: 280px;
  height: auto;
  aspect-ratio: 302 / 261;
  border-radius: 30px;
 
  z-index: 2;
  margin-bottom: 1.5rem; 
  position: relative;
  
        animation: bounce 3s infinite;

}

.NastPnymRazemSiUda {
  font-size: 6vw; /* większy tekst */
  margin-bottom: 28vh; 
  position: relative;
  font: 'Delicious Handrawn'
}

@media (max-width: 600px) {
  .Obrazek {
    width: 80%;
    bottom:40%;
   
  }
  
  .NastPnymRazemSiUda {
    font-size: 10vw;
    top: 40%;

  }
}

@media (min-width: 601px) {
.Ellipse1 {
    width: 150%;
    height: -500%;
    left: -25%;
    bottom: 40%;
    border-radius: 9999999px;
    opacity: 0.5;
    top:50%;
  }

  .Obrazek {
    
    scale: 2;
    bottom: 40%;
   
  }
  .NastPnymRazemSiUda {

   top: 40%;
   font-size: 4vw;;
  }
  
 
}


.NastPnymRazemSiUda {
  opacity: 0;
  transition: opacity 1s ease;
}

.NastPnymRazemSiUda.fade-in {
  opacity: 1;
}
