    body {
      margin: 0;
      padding: 0;
      background-image: url("obrazki/tloekran.png"), url("obrazki/kartkapapieru.png");
      background-size: cover, cover;
      background-repeat: no-repeat, no-repeat;
      background-position: center, center;
      font-family: Merriweather, serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .container {
      position: relative;
      width: 90vw;
      max-width: 400px;
      aspect-ratio: 3/5; 
    }
    .bg {
      position: absolute;
      left: -10%;
      bottom: 0;
      width: 120%;
      height: 75%;
      background: #7B4B2A;
      opacity: 0.7;
      border-bottom-left-radius: 250vw 100vw;
      border-bottom-right-radius: 250vw 100vw;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      overflow: hidden;
      transform: rotate(180deg);
      -webkit-mask-image: linear-gradient(to top, black 70%, transparent 100%);
      mask-image: linear-gradient(to top, black 70%, transparent 100%);
      
    }

    .button {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      height: 50px;
      background: #29562B;
      border-radius: 10px;
      border: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FDF7E3;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .content-box {
      position: absolute;
      top: 35%;
      left: 55%;
      transform: translateX(-50%);
      width: 70%;
      aspect-ratio: 1/1;
      background: #FDF7E3;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1rem;
      box-sizing: border-box;
      scale: 1.2;
    }

    .content-box h1 {
      font-size: 1.5rem;
      color: #2D1B0E;
      margin: 0;
    }

    .content-box p {
      font-size: 0.9rem;
      font-weight: bold;
      color: #2D1B0E;
      margin: 1rem 0 0 0;
    }

    .hand {
      position: absolute;
      width: 20%;
      height: auto;
      top: 33%;
    }

    .hand.left {
      left: 22%;
      transform: scale(1.5);
      
    }

    .hand.right {
      right: 22%;
      transform: scale(1.5);
      
    }

    .soldier {
      position: absolute;
      top: -5%;
      left: 16%;
      width: 90%;
      transform: translateX(-50%);
      height: auto;
      transform: scale(1.5);
    }