<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Wynik</title>
    <script defer src="{{ url_for('static', filename='scriptendscreen.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='styleendscreen.css') }}">
</head>
<body>
    <div class="container">
        <!-- Konfetti (dynamicznie generowane przez JS) -->
        <div id="confetti"></div>

        <!-- Treść -->
        <div class="content">
            <h1>Dobra robota, <span id="username">{{ player.name }}</span>!</h1>
            <div class="avatar">
                <img src="{{ url_for('static', filename=image_path) }}" alt="Twój awatar">
            </div>
            <div class="score">
                <div class="score">
                    <p>Twój wynik: <strong>{{ player.score }}</strong></p>
                    <p>Twoje miejsce w grupie: <strong>{{ rank }}</strong></p>
                    </div>
            </div>
            <button class="exit-btn" onclick="window.close();">Wyjdź z gry</button>
        </div>
    </div>
    <audio autoplay>
  <source src="{{ url_for('static', filename='sounds/klaskanie.mp3') }}" type="audio/mpeg">
</audio>

</body>
</html>
