<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Responsywne PUZZLE 3x3</title>
    <script defer src="{{ url_for('static', filename='scriptpuzzle.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='stylepuzzle.css') }}">
</head>
<body>

  <div class="top-bar">
        <div class="progress-bar-section"> 
            <div class="progress-bar-fill" style="width: 20%;"></div> 
        </div>
        
        <div class="clock-container">
            <div class="czas">XX:XX</div>
            <img data-layer="zegar" id="zegar" src="/static/obrazki/zegar2.png" alt="Zegar">
        </div>
    </div>
<div class="container">
    <div class="board" id="puzzleBoard"></div>

    <div class="moves" id="counter"></div>
    <button class="next-button" id="nextPageButton">PRZEJDŹ DALEJ</button>

</div>
<div data-layer="Ellipse 1" class="Ellipse1"></div>
</body>
</html>