<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylestartscreen.css') }}">
  <script defer src="{{ url_for('static', filename='scriptstartscreen.js') }}"></script>
</head>
<body>

  <div class="container">
    <div class="bg"></div>
    <div class="button" id="startQuiz">Rozpocznij Quiz!</div>
    <div class="content-box">
      <h1>Rozpocznij Quiz!</h1>
      <p>Witajcie w Muzeum Armii Krajowej. Podejmijcie wyzwanie i zagrajcie o nagrody!</p>
    </div>
    <img src="obrazki/reka1.png" class="hand left" />
    <img src="obrazki/reka2.png" class="hand right" />
    <img src="obrazki/zolnierzfinal.png" class="soldier" />
  </div>

</body>
</html>
