<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
</head>
<body>
    <h1>Witaj na stronie głównej</h1>
    <a href="{{ url_for('endscreen') }}"><button>endscreen</button></a>
    <a href="{{ url_for('puzzle') }}"><button>puzzle</button></a>
    <a href="{{ url_for('startscreen') }}"><button>startscreen</button></a>
    <a href="{{ url_for('text_to_image') }}"><button>text_to_image/button></a>
    <a href="{{ url_for('timeline') }}"><button>timeline</button></a>
    <a href="{{ url_for('quiz') }}"><button>quiz</button></a>
</body>
</html>