<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styletimeline.css') }}">
  <script defer src="{{ url_for('static', filename='scripttimeline.js') }}"></script>
</head>
<body>
   <div class="top-bar">
        <div class="progress-bar-section"> 
            <div class="progress-bar-fill" style="width: 20%;"></div> 
        </div>
        
        <div class="clock-container">
            <div class="czas">XX:XX</div>
            <img data-layer="zegar" id="zegar" src="/static/obrazki/zegar2.png" alt="Zegar">
        </div>
    </div>
  <div class="container">
    <div class="title">Dopasuj wydarzenia na osi czasu!</div>


    </div>

 
    <div id="cards" class="options">
      <div class="option card draggable" data-date="1953">Wykonanie wyroku śmierci</div>
      <div class="option card draggable" data-date="1925">Awans do stopnia majora</div>
      <div class="option card draggable" data-date="1928">Narodziny córki Marii</div>
    </div>
    <div class="timeline-wrapper">
      <img src="static/obrazki/ośczasu.png" alt="oś czasu" class="timeline-img"/>
      <div class="labels label-1953">– 1953</div>
      <div class="labels label-1928">– 1928</div>
      <div class="labels label-1925">– 1925</div>
      <div class="event-slot slot-1953 slot" data-correct="1953">?</div>
      <div class="event-slot slot-1928 slot" data-correct="1928">?</div>
      <div class="event-slot slot-1925 slot" data-correct="1925">?</div>
    </div>

   
    <div style="margin-top: 1rem; text-align: center;">
      <div id="scoreDisplay"></div>
    </div>
  </div>
      <div data-layer="Ellipse 1" class="Ellipse1"></div>
</body>
</html>
